<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Layout</title>
</head>
<body>
  <header th:fragment="header">
    <nav class="navbar navbar-dark fixed-top bg-primary mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Write It Down</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a th:href="@{/}" class="nav-link active" aria-current="page" href="#">Home</a>
            <a th:href="@{/listEvents}" class="nav-link" href="#">Notes</a>
            <a th:href="@{/listCategories}" class="nav-link" href="#">Categories</a>
            <a th:href="@{/register}" class="btn btn-primary"><span class="fa fa-user"></span> Sign Up</a>
            <a th:href="@{/login}" class="btn btn-primary"><span class="fa fa-lock"></span> Login</a>
            <a th:href="@{/logout}" class="btn btn-primary"><span class="fa fa-unlock"></span> Logout</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div>

  </div>
  <div class="container p-5 my-5 border">
    <h1>Fragments</h1>
    <hr>

    <div th:fragment="errorMessage">
      <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
      </div>
    </div>

    <div th:fragment="unauthorized(text)">
      <div sec:authorize="isAnonymous()" class="alert alert-warning">
        <p th:text="${text}"></p>
      </div>
    </div>

    <div th:fragment="eventForm(ifEdited)">
      <form action="#" th:action="@{/saveOrUpdateEvent}" th:object="${event}" method="POST">
        <div class="mb-4">
          <div class="col-4">
            <label for="categoryName">Select a category:</label>
            <select id="categoryName" name="categoryName" class="form-select"
                    th:disabled="${#authorization.expression('isAnonymous')}">
              <option value="">Nothing selected</option>
              <option th:each="category : ${allCategories}"
                      th:text="${category.categoryName}"
                      th:value="${category.categoryName}"></option>
            </select>
          </div>
          <div class="col-4 mt-2">
            <button type="button" class="btn btn-primary btn-sm mb-4" onclick="location.href='/showAddCategoryForm';">
              Add Category
            </button>
          </div>

          <div th:if="${ifEdited}">
            <input type="hidden" th:field="*{eventId}" />
          </div>

          <label for="title">Title</label>
          <input type="text" id="title" th:field="*{eventTitle}" placeholder="Title"
                 class="form-control mb-4 col-4" th:disabled="${#authorization.expression('isAnonymous')}">

          <label for="description">Description</label>
          <input type="text" id="description" th:field="*{eventDescription}" placeholder="Description"
                 class="form-control mb-4 col-4" th:disabled="${#authorization.expression('isAnonymous')}">

          <input type="hidden" name="eventDate" th:value="${T(java.time.LocalDate).now()}">
          <input type="hidden" id="eventTime" name="eventTime" class="form-control mb-4 col-4">

          <!-- LocalTime.now() tuotti ongelmia, joten tein ajan generoimisen javascriptillä -->
          <script th:inline="javascript">
            var currentTime = new Date();

            // Formatoidaan aika muotoon "HH:mm:ss"
            var formattedTime = currentTime.toTimeString().slice(0, 8);
            document.getElementById('eventTime').value = formattedTime;
          </script>

          <div class="mb-4 col-4">
            <label for="dueDate">Due To:</label>
            <input type="date" id="dueDate" th:field="*{dueDate}" th:disabled="${#authorization.expression('isAnonymous')}">
          </div>

          <button type="submit" class="btn btn-secondary" th:disabled="${#authorization.expression('isAnonymous')}">
            Save Note
          </button>
        </div>
      </form>
    </div>

    <div th:fragment="MyCategories">
      <table id="searchTable" class="table table-hover">
        <thead>
          <tr>
            <th>Category</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr sec:authorize="isAuthenticated()" th:each="category : ${allCategories}">
            <td>
              <a th:href="@{/listEventsByCategory/{id}(id=${category.categoryId})}" th:text="${category.categoryName}"></a>
            </td>
            <td>
              <a th:href="@{/showCategoryEditForm/{id}(id=${category.categoryId})}" class="btn btn-primary">Edit</a>
              <a th:href="@{/deleteCategory/{id}(id=${category.categoryId})}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div th:fragment="ListEvents(ifSearchByCategory)">
      <table id="searchTable" class="table table-hover">
        <thead>
        <tr>
          <th>Note Title</th>
          <th>Note Description</th>
          <th>Note Date</th>
          <th>Note Due</th>
          <th th:if="${!ifSearchByCategory}">Category</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody sec:authorize="isAuthenticated()">
        <tr th:each="event : ${listEvents}">
          <td th:text="${event.eventTitle}"></td>
          <td th:text="${event.eventDescription}"></td>
          <td th:text="${#temporals.format(event.eventDate, 'dd/MM/yyyy')}"></td>
          <td th:text="${#temporals.format(event.dueDate, 'dd/MM/yyyy')}"></td>

          <td th:if="${!ifSearchByCategory}">
            <span th:each="category : ${event.categories}" th:text="${category.categoryName}"></span>
          </td>

          <td>
            <a th:href="@{/showEventEditForm/{id}(id=${event.eventId})}" class="btn btn-primary">Edit</a>
            <a th:href="@{/deleteEvent/{id}(id=${event.eventId})}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <div th:fragment="ButtonAddNote">
      <button type="button" onclick="location.href='/showAddEventForm';" class="btn btn-primary btn-sm mb-4">
        Add Note
      </button>
    </div>

    <div th:fragment="ButtonAddCategory">
      <button type="button" onclick="location.href='/showAddCategoryForm';" class="btn btn-primary btn-sm mb-4">
        Add Category
      </button>
    </div>

    <div th:fragment="ButtonBackToNotes">
      <button type="button" onclick="location.href='/listEvents';" class="btn btn-outline-primary">
        Back to Notes
      </button>
    </div>

    <div th:fragment="ButtonBackToCategories">
      <button type="button" onclick="location.href='/listCategories';" class="btn btn-outline-primary">
        Back to Categories
      </button>
    </div>

  </div>
</body>

</html>