<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write It Down</title>
</head>
<body>

<div>
    <h1>Notes List</h1>

    <a th:href="@{/showAddEventForm}"> Add Note </a>

    <table>
        <thead>
        <tr>
            <th>Note Title</th>
            <th>Note Description</th>
            <th>Note Date</th>
            <th>Note Due</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${listEvents}">
            <td th:text="${event.eventTitle}"></td>
            <td th:text="${event.eventDescription}"></td>
            <td th:text="${#temporals.format(event.eventDate, 'dd/MM/yyyy')}"></td>
            <td th:text="${#temporals.format(event.dueDate, 'dd/MM/yyyy')}"></td>
            <td th:text="${event.categories}"></td>
            <td>
                <a th:href="@{/events/edit/{eventId}(eventId=${event.eventId})}">Edit</a>
                <a th:href="@{/events/delete/{eventId}(eventId=${event.eventId})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>