<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write It Down</title>
</head>
<body>
<div>
    <h1>Add a category</h1>
    <hr>

    <form action="#" th:action="@{/addCategory}" method="POST">
        <label for="categoryTitle"></label>
        <input type="text" id="categoryTitle" placeholder="Category name" name="categoryTitle" required>
        <button type="submit"> Save Category</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>Category</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${allCategories}">
            <td th:text="${category.categoryName}"></td>
            <td>
<!--                <a th:href="@{/showEventEditForm/{id}(id=${event.eventId})}">Edit</a>-->
<!--                <a th:href="@{/deleteEvent/{id}(id=${event.eventId})}">Delete</a>-->
            </td>
        </tr>
        </tbody>
    </table>
    <hr>

    <a th:href="@{/}"> Back to Notes</a>
</div>
</body>

</html>